.Actions {
  text-align: center;
  position: relative;
  left: 40%;
}

.addManager {
  text-align: center;
  position: relative;
  left: 40%;
  top: 20px;
}

.wallet {
  position: relative;
  top: 10px;
  left: 90%;
}